@import '../../../assets/variables.scss';

.settings {
  width: 100%;
  &-title {
    font-weight: 500;
    font-size: 14pt;
    color: $clr-blue;
    text-transform: uppercase;
  }
  &-body {
    .description {
      color: $clr-grey;
      font-size: 14px;
      font-weight: 300;
    }
    .sub-title {
      color: $clr-grey;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}