.sidebar {
  width: 100%;
  height: calc(100vh - 56px);
  box-sizing: border-box;
  padding: 10% 0 0 10%;
  a {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: #00add9;
    padding: 0;
  }
}